/*-------- Mettre la barre de menu active sur limites ------*/
.navbar li .active{
    background-color: #EEEEEE;
    color: #23527c;
}
/*----------------------------------------------------------*/

/*-----------Hauteur de la section 1 -----------*/
.la_hauteur{
	height: 540px;
}
/*----------------------------------------------*/

/*------ Le bouton voir code </> et exemple  ------ */
.voir_c_e{
	border-radius: 50% 20% / 10% 40%;
	border: 1px solid #b227c5;
	color: #b227c5;
}

.voir_c_e:hover{
	background-color: #b227c5;
	color: #FFFFFF;
}
/*-------------------------------------------------*/

/*-------- Style de la table pendant les exemples -----*/
.ma_table {
  border-collapse: collapse;
}

.ma_table , .ma_th, .ma_td {
  border: 1px solid black;
}
/*---------------------------------------------------*/



@media screen and (max-width: 750px) {
	.img_obs{
		visibility: hidden;
	}
	.la_hauteur{
		height: 540px;
	}
}

.article-view{
  /* position: relative; */
  max-width: 300px;
  background-color: #c8c8c8;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

table{
	background-color: #FFFFFF;
}

caption{
	visibility: hidden;
}

h1{
	margin-top: 3%;
}


.section_grise.pad{
	height: 660px;
}

.row{
	padding-top:50px;
}


.paa{
	padding-top: 7px;
}

.paaa{
	margin-left: 550px;
}
@media screen and (max-width: 640px) {
	.paaa{
		margin-left: 70px;
	}
	.section_grise.pad{
		height: auto;
	}
	.row{
		padding-top:10px;
	}
}