img.droite {
  	float: right;
	margin: 0 0 1em 1em;
	border: thick double #B227C5;
}

.gras{
	font-weight: bold;
}

.droiteFig {
    float: right;
}
.gaucheFig {
    float: left;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figure.lecolgroup , figure.lecolrow {
	width: 300px;
	height: auto;
    padding: 5px;
    margin: 10px;
}
figure.lecolgroup{
	float: left;
}

figure.lecolrow{
	float: right;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

@media screen and (max-width: 640px) {
	figure.lecolgroup , figure.lecolrow {
		width: auto;
		height: auto;
	}
	figure.lecolgroup{
		float: none;
	}
	figure.lecolrow{
		float: none;
	}
}