/**/
body{
    font-family: sans-serif;
    font-size: 15px;
}

.navbar li .active{
    background-color: #EEEEEE;
    color: #23527c;
}
/*Couleur de la navbar*/
.navbar{
    background-color: #B227C5;
}
/*Mettre les tirets au bord de la liste de menu*/
/*------Pour la gauche-------*/
ul .tiret1 {
    padding: 0px 0px 0px 15px;
    border-left: 2px solid #000;
}
/*------Pour la droite-------*/
ul .tiret2 {
    padding: 0px 0px 0px 15px;
    border-right: 2px solid #000;
}

/*------Pour les deux côtés-------*/
ul .tiret3 {
    padding: 0px 0px 0px 15px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
/*------Pour le l'accueil-------*/
.tiret3 {
    padding: 15px 0px 0px 15px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
/*----------------------------------------------*/

/*Coloration et style des listes de menu*/
.lien, .lien:link {
    color: #ffffff;
    font-family: Cursive;
}

/*spécifier l'apparence d'un élément au moment où l'utilisateur le survole*/
.lien:hover {
    border-bottom: 3px solid #ffffff;
    border-top: 3px solid #FFF000;     
    background-color: #EEEEEE;
    color: #23527c;
}

/*Aligner le menu presque au milieu*/
.marg_left{
    margin-left: 25%;
    margin-top: auto;
    margin-right: auto;
    display: inline-block;
}

/*--------------Pour le bouton menu accueil-------------*/
.blanche_link{
    color: #ffffff;
}

.blanche_link:hover {
  border-bottom: 3px solid #ffffff;
  border-top: 3px solid #FFF000;     
  background-color: #EEEEEE;
  color: #23527c;
}

.blanche_link.active{
    background-color: #EEEEEE;
    color: #23527c;
}
/*------------------------------------------------------*/

/*Définire une taille*/
._26{
    font-size: 26px;
}

._26_gris{
    font-size: 26px;
    color: #C0A6CF;
    text-align: left;
}

._16{
    font-size: 16px;
}

._80{
    font-size: 80px;
}
/*--------------------*/

/*Coloration pour le groupe des listes*/
a.css_liste {    
  color: #B227C5; 
  font-weight: bold;
  font-size: 18px;
}

a.css_liste:hover {    
    background-color: #EEEEEE;
    color: #B227C5; 
    font-weight: bold;
}

a.activee{
    background-color: #B227C5;
    color: #ffffff; 
    font-weight: bold;
}
/*------------------------------------*/

h1{
    font-size: 2.2em;
}

h2{
    color: #B227C5; 
    margin-bottom: 35px;
}

h1, h2, h3 {
    font-family: Cursive;
    font-weight: bold;
}

h3{
    text-decoration: underline;
    margin-bottom: 25px;
}

.pbottom{
    padding-bottom: 50px;
}

.jumbotron{
    padding-top: 50px;
    margin-bottom: 0px;
}

/*-------------Les couleurs des sections------------*/
.section_grise{
    background-color: #E5C9F1;
    padding: 50px 0 50px 0;
}
.section_blanche{
    background-color: #FFFFFF;
    padding: 50px 0 50px 0;
}
/*--------------------------------------------------*/


/*-------------- Footer --------------*/
.lefooter{
    background-color: #B227C5;
    border-top: 4mm ridge #000000;
    margin-bottom: 0;
    padding: 3% 10%;
    color: #FFFFFF;
    text-align: center;
}
/*------------------------------------*/

/*------------- groupe --------------*/
.monwell{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid;
    text-align: center;
    padding-top: 10px;
    background-color: #E5C9F1;
}
/*-----------------------------------*/

/*------------- parties --------------*/
.monwell1{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid;
    text-align: center;
    padding-top: 20px;
    margin: 2px 2px 2px 2px;
    background-color: #EEEEEE;
    height: 150px;
}
/*-----------------------------------*/

/*Pour afficher le sommaire en bas à droite*/
.laliste{
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  background-color: #EEEEEE;
  z-index: 7;
  border-radius: 10px;
  border-top: 1mm ridge #563800;
  border-left: 1mm ridge #563800;
  text-align: center;
}

.croix{
    margin: 10px 20px 20px 0;
    float: right;
}
/*-----------------------------------------*/

/*-------------Arborescence couleur----------------*/
.bleue{
    color: #21a6ff;
}
.jaune{
    color: #dcff2e;
}
.verte{
    color: #00e34c;
}

.bleue, .jaune, .verte{
    font-weight: bold;
}
/*-----------------------------------------*/

/*-------- style de la balise code ---------*/
code{
    font-family: monospace, monospace;
    background-color: #E9967A;
}
/*------------------------------------------*/
/*Changement de style après avoir réduit la page*/
@media screen and (max-width: 640px) {/*640px par défaut*/
    .marg_left{
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        display: block;
    }
    ul .tiret1, ul .tiret2, ul .tiret3 {
        padding:0 0 0 0;
        border-left:0;
        border-right:0;
        display: block;
    }
    .blanche_link.active{
        background-color: #B227C5;
        color: #ffffff;
    }

    h1{
        font-size:2em;
        margin:.67em 0;
    }

    h2{
        font-size: 1.5em;
        margin-bottom: 50px;
    }

    h3{
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    .tiret3 {
        padding: 20px 0 0 20px;
        border-left: 0;
        border-right: 0;
    }

    .jumbotron{
        padding-top: 100px;
    }

    .section_grise{
        padding-top: 100px;
    }
    .section_blanche{
        padding-top: 100px;
    }
    .monwell{
        margin: 3% 3%;
        padding-top: 3% 3%;
    }

    .laliste{
        visibility: hidden;
    }
    .monwell1{
        height: auto;
    }
}
